*
{
    border: 0;
    padding: 0;
    box-sizing: border-box;
	    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
}

html {scroll-behavior: smooth;}

html, body {overflow-x: hidden;}

body
{
    background-color: #086375;
    min-height: 400vh;

    color: #f79c8a;

    scroll-snap-type: y mandatory;
}

header
{
  position: relative;
  top: 0;
  min-height: 100vh;
  width: 100%;
}
header > .title-container
{
  position: absolute;
  bottom: 0;
  padding: 5vh 5vh;
}

header > .title-container > .main-title
{
  font-size: 6em;
  text-align: left;
  font-weight: 200;
}

.section
{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

.s1, .s2, .s3, .s4, .s5, .s6
{
    display: grid;
    place-items: center;
    text-align: justify;
}

.section > p
{
    font-size: 1.6rem;
    width: 70%;
    text-align: justify;
}

.section > h3
{
    font-size: 2rem;
}

input[type="text"] {
    padding: 10px;
    margin: 20px 0px;
    border-radius: 10px;
}

.form-control
{
    background: transparent;
    color: #f79c8a;
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
}

button {
    padding: 7px;
    border-radius: 10px;
    background: transparent;
    font-size: 1.7rem;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid #f79c8a;
    color: #f79c8a;
}
  
.form-control-lenght
{
    background-color: #054a58;
    color: #f79c8a;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
}


